{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Keep It Simple.</title>
	<meta name="description" content="">  
	<meta name="author" content="">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'css/default.css' %}">
   <link rel="stylesheet" href="{% static 'css/layout.css' %}">  
   <link rel="stylesheet" href="{% static 'css/media-queries.css' %}"> 

   <!-- Script
   ================================================== -->
   <script src="{% static 'js/modernizr.js' %}"></script>

   <!-- Favicons
	================================================== -->
   <!--link rel="shortcut icon" href="favicon.png"-->

</head>
<body>
   <!-- Navbar
   ================================================== -->
   {% include 'post/navbar.html' %}
   <!--Navbar Closed-->

   <!-- Content
   ================================================== -->
   <div id="content-wrap">
   
   <div class="row">
   
   <div id="main" class="eight columns">
      {% block content %}

      {% endblock content %}
   </div> <!-- end main -->
   
      {% include 'post/sidebar.html' %}

   </div> <!-- end row -->

   </div> <!-- end content-wrap -->

<!-- Footer
================================================== -->
   {% include 'post/footer.html' %}
<!--Footer Closed-->

<!-- Java Script
================================================== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"><\/script>')</script>
<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>  
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>