{% extends 'post/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% include 'post/messages.html' %}
{% block content %}
<div class="respond">
    <h1>Create Blog</h1>
<!-- form -->
<form name="contactForm" id="contactForm" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        
        <div class="group">
            <label for="cName">Title <span class="required"> *</span></label>
            <input name="title" type="text" id="title" size="80" class="title" value="">
        </div>
        
        <div class="group">
            {{ form.category|as_crispy_field }}
        </div>

        <div class="message group">
            <label for="cMessage">Content <span class="required">*</span></label>
            <textarea name="content"  id="content" class="content" rows="10" cols="80">
            </textarea>
        </div>

        <div class="group">
            <label for="cName">Add an appropiate image for your post. <span class="required"> *</span></label>
            {{ form.img|as_crispy_field }}      
        </div>
        
        <button type="submit" class="submit">Submit</button>
        
    </fieldset>
    </form> <!-- Form End -->
</div> <!-- Respond End -->s
{% endblock content %}