{% extends 'post/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="page">					

		<h2>Hey {{ request.user.first_name|capfirst }}!</h2> 
					
		<p class="lead">Lorem ipsum Nisi enim est proident est magna occaecat 
        dolore proident eu ex sunt consectetur consectetur dolore enim nisi
        exercitation adipisicing magna culpa commodo deserunt ut do Ut occaecat. 
        Lorem ipsum Veniam consequat quis.
        </p>					
	
		<div class="row archive-list">
			<div class="twelve columns">
				<h4>Posts you have made.</h4>	
				<ul>
                            {% for post in user_post %}
                                <li><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></li>
                                <a class="button" id='delete-button' href="{% url 'delete-post' post.id %}">Delete</a>
                                <a class="button" href="{% url 'update-post' post.id %}">Update</a>
                            {% endfor %}
                </ul>							
			</div>
		</div> <!-- end row -->			      	
	
	</section> <!-- End page -->

{% if user_post.has_other_pages %}
    <nav class="pagination add-bottom">
        {% if user_post.has_previous %}
            <span class="page-numbers prev inactive">
                <a href="?page={{ user_post.previous_page_number }}">Prev</a>
            </span>
        {% endif %}
            
        {% for i in user_post.paginator.page_range %}
            {% if user_post.number == i %}
   	            <span class="page-numbers current">{{ i }}</span>
            {% else %}
                <a href="?page={{ i }}"" class="page-numbers">{{ i }}</a>
            {% endif %}
        {% endfor %}
            
            {% if user_post.has_next %}
                <a href="?page={{ user_post.next_page_number }}" class="page-numbers next">Next</a>
            {% endif %}
	
    </nav>
    
    <hr>
{% endif %}



{% endblock %}